@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: "AlegreyaSansSC-Black";
  src: url("../../public/assets/fonts/AlegreyaSansSC-Black.ttf") format("ttf");
}

@font-face {
  font-family: "AlegreyaSansSC-BlackItalic";
  src: url("../../public/assets/fonts/AlegreyaSansSC-BlackItalic.ttf") format("ttf");
}
