// COLORS
$main-bg: linear-gradient(180deg, #11007B 0%, #0D0158 100%);;
$main-font: #FFFFFF;
$main-title-font: #B55AE0;
$main-title-hover: #7B11AD;
$title-font: #B55AE0;
$highlight: #B55AE0;
$black: #000000;
$error: red;

// GENERAL
$transition: all .3s;
$btn-bd: 1px solid $main-font;
$btn-contact-bd: 1px solid $highlight;
$border-radius: 10px;

// ICONS
